<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

<title>Gameteca</title>
<link rel="stylesheet" href="css/plataformaGenero.css">
<style>


</style>
</head>
<body>
    <div class = "container">

      <div class="barra2">
      </div>

      <div class="barra">
        <body background="lateral.png">
      </div>

      <div class="contenido", align = center>

        <br>
        <ul class="nav", align="center">
            <li><b>Genero<input type="text" name="nombre del genero" id="genero"></b>
                <input type="submit" value="Añadir" style='width:120px; height:50px'>

            <li><b>Generos disponibles<select name="Plataformas">
              <!-- Aquí tienen que cargarse los generos disponibles en el sistema -->
               <option value="1">acción</option>
               <option value="2">horror</option>
               <option value="3">aventura</option>
               <option value="4">mundo abierto</option>
            </select></b>
            <input type="submit" value="Editar" style='width:120px; height:50px'>
            <input type="submit" value="Dar de baja" style='width:120px; height:50px'>
        </ul>
      </div>

      <div class="titulo">
        <ul>
          <img src="http://i64.tinypic.com/15dlw15.png" alt="gameteca logo",width=200, height=100 >
        </ul>
        <br>
        <ul class="nav", align="center">
          <li><a href="/">Inicio</a>
          <li><a href="#sesion">Iniciar sesión</a>
          <ul>
            <li><a href="#user"> <input class="form-control mr-sm-2" type="search" placeholder="Usuario" aria-label="Username">  </a></li>
            <li><a href="#pass"> <input class="form-control mr-sm-2" type="search" placeholder="Contraseña" aria-label="Contrasena">  </a></li>
            <li><a href="#buscar">Iniciar sesión</a>
          </ul>
          </li>
          <li><a href="#registro">Registrarse</a></li>
          <li><a href="#videojuegos">Nuestros videojuegos</a></li>
          <li><a href="#buscar">Buscar videojuego</a>
          <ul>


            <form method="post">
            <li><a> <p>Nombre: <input type="text" value="Nombre juego"></p></a></li>
            <li><a ><input type="submit" value="Buscar"></a>
            </form>


          </ul>
          </li>
          <li><a href="#buscar">Buscar Usuario</a>
          <ul>
            <li><a href="#buscar"> <input class="form-control mr-sm-2" type="search" placeholder="Buscar usuario" aria-label="Search">  </a></li>
            <li><a href="#buscar">Buscar</a>
          </ul>
          </li>
       </ul>
    </div>
</body>
</html>
