<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

<title>Gameteca</title>
<link rel="stylesheet" href="css/gestionjuego.css">
<style>


</style>
</head>
<body>
    <div class = "container">

      <div class="barra2">
      </div>

      <div class="barra">
        <body background="lateral.png">
      </div>

      <div class="contenido">
        <!-- donde dice ps4.jpg cambiar por la caratula del juego, si el juego aún no se ha creado, coloquemos una imagen de juego nuevo o algo así -->
        <img src= "ps4.jpg"  ,width=300, height=500 >
          <br>
              <ul class="nav", align="center">
                <li><b>Imagen del videojuego<input type="file" name="Subir imagen"><input type="submit" value="Cargar"></b>

                  <li><b>Nombre del videojuego<input type="text" name="Nombre del videojuego" id="Nombre_juego"></b>

                  <li><b>Fecha de lanzamiento <input type="date" name="Fecha de lanzamiento" id="lanzamiento"></b>

                  <li><b>Plataforma disponible<select name="Plataformas">
                    <!-- Aquí tienen que cargarse las plataformas disponibles en el sistema -->
                     <option value="1">ps4</option>
                     <option value="2">ps3</option>
                     <option value="3">pc</option>
                     <option value="4">wii</option>
                  </select></b>
              </ul>
        <br>


        <input type="submit" value="Editar" style='width:120px; height:50px'>
        <input type="submit" value="Dar de baja" style='width:120px; height:50px'>
        <input type="submit" value="Crear" style='width:120px; height:50px'>
      </div>

      <div class="titulo">
        <ul>
          <img src="http://i64.tinypic.com/15dlw15.png" alt="gameteca logo",width=200, height=100 >
        </ul>
        <br>
        <ul class="nav", align="center">
          <li><a href="/">Inicio</a>
          <li><a href="#sesion">Iniciar sesión</a>
          <ul>
            <li><a href="#user"> <input class="form-control mr-sm-2" type="search" placeholder="Usuario" aria-label="Username">  </a></li>
            <li><a href="#pass"> <input class="form-control mr-sm-2" type="search" placeholder="Contraseña" aria-label="Contrasena">  </a></li>
            <li><a href="#buscar">Iniciar sesión</a>
          </ul>
          </li>
          <li><a href="#registro">Registrarse</a></li>
          <li><a href="#videojuegos">Nuestros videojuegos</a></li>
          <li><a href="#buscar">Buscar videojuego</a>
          <ul>


            <form method="post">
            <li><a> <p>Nombre: <input type="text" value="Nombre juego"></p></a></li>
            <li><a ><input type="submit" value="Buscar"></a>
            </form>


          </ul>
          </li>
          <li><a href="#buscar">Buscar Usuario</a>
          <ul>
            <li><a href="#buscar"> <input class="form-control mr-sm-2" type="search" placeholder="Buscar usuario" aria-label="Search">  </a></li>
            <li><a href="#buscar">Buscar</a>
          </ul>
          </li>
       </ul>
    </div>
</body>
</html>
