<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

<title>{% block title %}Gameteca{% endblock %}</title>

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

</head>
<body>
    <div class = "container">

      <div class="barra2">
      </div>

      <div class="barra">
        <body background="lateral.png">
      </div>

      <div class="contenido">
          {% block contenido %}
          {% endblock %}
      </div>

      <div class="titulo">
        <ul>
          <a href="/"><img src="http://i64.tinypic.com/15dlw15.png" alt="gameteca logo",width=200, height=100 >
        </ul>
        <br>
        <ul class="nav", align="center">
          <li><c href="#sesion">Iniciar sesión</a>
          <ul class="dropdown">
            <li><a href="#user"> <input class="form-control mr-sm-2" type="search" placeholder="Usuario" aria-label="Username">  </a></li>
            <li><a href="#pass"> <input class="form-control mr-sm-2" type="search" placeholder="Contraseña" aria-label="Contrasena">  </a></li>
            <li><a href="#buscar">Iniciar sesión</a>
          </ul>
          </li>
          <li><a href="{{ url_for('crearCuenta') }}">Registrarse</a></li>
          <li><a href="/">Nuestros videojuegos</a></li>
          <li><a href="#buscar">Buscar videojuego</a>
          <ul class="dropdown">
            <li><a> <p>Nombre: <input type="text" id="videojuegoBuscado" name="nombre" value="Nombre juego"></p></a></li>
            <li><a ><input type="button" onclick="buscarJuego()" value="Buscar"></a>
          </ul>
          </li>
          <li><a href="#buscar">Buscar Usuario</a>
          <ul class="dropdown">
              <li><a> <p>Nombre: <input type="text" id="usuarioBuscado" name="nombre" value="Usuario"></p></a></li>
              <li><a ><input type="button" onclick="buscarUsuario()" value="Buscar"></a>
          </ul>
          </li>
       </ul>
    </div>
    <script>
     function buscarJuego() {
         var nombre = document.getElementById('videojuegoBuscado').value;
         window.location="/videojuego/" + nombre
     }
     function buscarUsuario() {
         var nombre = document.getElementById('usuarioBuscado').value;
         window.location="/usuario/" + nombre
     }
    </script>
</body>
</html>
