<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

<title>Gameteca</title>

<link rel="stylesheet" href="../static/styles/busqueda.css">
</head>
<body>
    <div class = "container">

      <div class="barra2">
      </div>

      <div class="barra">
        <body background="lateral.png">
      </div>


      <div class="contenido">

        {% for juego in juegos_b %}
                <li><a href="http://127.0.0.1:8000/juego/{{juego.id}}"><img src= {{juego.caratula}} alt={{juego.nombre}},width=150, height=250 ></a>
              <br>
              <ul class="nav", align="center">
                <li><a>Juego: {{juego.nombre}}</a>
                  <br>
                <li><a>Fecha de lanzamiento: {{juego.fecha}}</a>
              </ul>
              <br>
        {% endfor %}
        <br>
      </div>

      <div class="titulo", align="center">
        <ul>
          <img src="http://i64.tinypic.com/15dlw15.png" alt="gameteca logo",width=200, height=100 >
        </ul>
        <br>
        <ul class="nav", align="center">
          <li><a href="/">Inicio</a>
          <li><a href="#sesion">Iniciar sesión</a>
          <ul>
            <li><a href="#user"> <input class="form-control mr-sm-2" type="search" placeholder="Usuario" aria-label="Username">  </a></li>
            <li><a href="#pass"> <input class="form-control mr-sm-2" type="search" placeholder="Contraseña" aria-label="Contrasena">  </a></li>
            <li><a href="#buscar">Iniciar sesión</a>
          </ul>
          </li>
          <li><a href="#registro">Registrarse</a></li>
          <li><a href="#videojuegos">Nuestros videojuegos</a></li>
          <li><a href="#buscar">Buscar videojuego</a>
          <ul>


            <form method="post">
            <li><a> <p>Nombre: <input type="text" value="Nombre juego"></p></a></li>
            <li><a ><input type="submit" value="Buscar"></a>
            </form>


          </ul>
          </li>
          <li><a href="#buscar">Buscar Usuario</a>
          <ul>
            <li><a href="#buscar"> <input class="form-control mr-sm-2" type="search" placeholder="Buscar usuario" aria-label="Search">  </a></li>
            <li><a href="#buscar">Buscar</a>
          </ul>
          </li>
       </ul>
    </div>
</body>
</html>
