{% extends 'base.html' %}

{% block title %}
Gameteca
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/user.css') }}">
{% endblock %}

{% block contenido %}
<!-- donde dice ps4.jpg cambiar por la caratula del juego, si el juego aún no se ha creado, coloquemos una imagen de juego nuevo o algo así -->
<h1><b>Crear usuario</b></h1>
<br>
<br>
<div class="nav", align="center">

    <form method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username"">
        </div>
        <div class="form-group">
            <label for="imagen">Url Imagen</label>
            <input class="form-control" type="text" name="imagen" id="imagen"">
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input class="form-control" type="text" name="nombre" id="nombre" maxlength="100">
        </div>
        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input class="form-control" type="text" name="apellido" id="apellido" maxlength="100">
        </div>
        <div class="form-group">
            <label for="correo">Correo</label>
            <input class="form-control" type="text" name="correo" id="correo" maxlength="200">
        </div>
        <div class="form-group">
            <label for="passwordActual">Contraseña</label>
            <input class="form-control" type="password" name="password" id="password">
        </div>
        <input class="btn btn-primary" type="submit" name="action" value="Crear">
    </form>
</div>
{% endblock %}
