<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gameteca</title>
<link rel="stylesheet" href="css/user.css">
</head>
<body>
    <div class = "container">

      <div class="barra2">
      </div>

      <div class="barra">
        <body background="lateral.png">
      </div>

      <div class = "user">
        <!-- Cambiar el gato por la imagen del usuario -->
          <img src="gato.jpg" class='imgRedonda' border="1" solid="#122235", style="border-width:1px;" width="150", height="150">
      </div>


      <div class="circulo">
          <h2>Juegos jugados: 8 <!-- Donde está el 8 poner un count del tamaño del listado --> </h2>
      </div>

      <div class="descripcion", align = "center">
          <h2>Perfil de <!-- aquí va el nombre de usuario--> </h2>
          <br>
          <h2>Me gusta jugar videojuegos en ps4 <!-- descripcion del usuario--> </h2>
          <ul class="nav", align="center">
          <li><a href="Listado">Ver listado completo de ...<!-- aquí va el nombre de usuario--></a>
          </ul>
      </div>



      <div class = "lista">
        <hr/>
        <!-- Este es el texto que se debe repetir para generar la lista -->
        <div class = "container2">
          <div class = "juego">
            <!-- cambiar ps4.jpg por la imagen del juego -->
              <img src="ps4.jpg" border="1" solid="#122235", style="border-width:1px;" width="120", height="150">
          </div>
          <div class="texto">
              <h>Una experiencia inolvidable que todo el mundo debería probar <!-- la review -->  </h>
          </div>
          <div class="nota">
            <div class="circulo">
                <h2>8.5 <!-- Donde está el 8.5 poner la nota --> </h2>
            </div>
          </div>
        </div>
          <hr/>
        <!-- Hasta acá-->
        <div class = "container2">
          <div class = "juego">
            <!-- hacer que se carguen de forma dinamica -->
              <img src="ds2.jpg" border="1" solid="#122235", style="border-width:1px;" width="120", height="150">
          </div>
          <div class="texto">
              <h>Se pierde la escencia de dark souls  <!-- la review -->  </h>
          </div>

          <div class="nota">
            <div class="circulo">
                <h2>5.5 <!-- Donde está el 5.5 poner la nota --> </h2>
            </div>
          </div>
        </div>
          <hr/>
        <div class = "container2">
          <div class = "juego">
            <!-- hacer que se carguen de forma dinamica -->
              <img src="ds3one.jpg" border="1" solid="#122235", style="border-width:1px;" width="120", height="150">
          </div>
          <div class="texto">
              <h>Un retorno a las raices de la saga  <!-- la review -->  </h>
          </div>

          <div class="nota">
            <div class="circulo">
                <h2>9 <!-- Donde está el 9 poner la nota --> </h2>
            </div>
          </div>
        </div>

      </div>



      <div class="titulo">
        <ul>
          <img src="http://i64.tinypic.com/15dlw15.png" alt="gameteca logo",width=200, height=100 >
        </ul>
        <br>
        <ul class="nav", align="center">
          <li><a href="/">Inicio</a>
          <li><a href="#sesion">Iniciar sesión</a>
          <ul>
            <li><a href="#user"> <input class="form-control mr-sm-2" type="search" placeholder="Usuario" aria-label="Username">  </a></li>
            <li><a href="#pass"> <input class="form-control mr-sm-2" type="search" placeholder="Contraseña" aria-label="Contrasena">  </a></li>
            <li><a href="#buscar">Iniciar sesión</a>
          </ul>
          </li>
          <li><a href="#registro">Registrarse</a></li>
          <li><a href="#videojuegos">Nuestros videojuegos</a></li>
          <li><a href="#buscar">Buscar videojuego</a>
          <ul>


            <form method="post">
            <li><a> <p>Nombre: <input type="text" value="Nombre juego"></p></a></li>
            <li><a ><input type="submit" value="Buscar"></a>
            </form>


          </ul>
          </li>
          <li><a href="#buscar">Buscar Usuario</a>
          <ul>
            <li><a href="#buscar"> <input class="form-control mr-sm-2" type="search" placeholder="Buscar usuario" aria-label="Search">  </a></li>
            <li><a href="#buscar">Buscar</a>
          </ul>
          </li>
       </ul>
    </div>
</body>
</html>
